@import "/home/inlinkcraft/.cache/wal/colors.scss";

* {
  all: unset;
  font-family: "FiraCode Nerd Font";
  color: $foreground;
}

/* ================= OVERLAY ================= */

.overlay {
  background: transparent;
}

/* Invisible layout container */
.center {
  padding: 32px;
}

/* ================= MODULE BASE ================= */

.module {
  background: $background;
  border: 2px solid $color0;
  border-radius: 14px;
  padding: 16px;
}

/* ================= MUSIC ================= */

.album {
  min-width: 96px;
  min-height: 96px;
  border-radius: 8px;
}

.music-title {
  font-size: 16px;
  font-weight: bold;
  color: $color6;
}

.music-artist {
  font-size: 13px;
  color: $color8;
}

/* ================= STATS ================= */

.clock {
  font-size: 32px;
  color: $color6;
}

.spec {
  font-size: 12px;
  color: $color7;
}

/* ================= VOLUME ================= */

.volume scale trough {
  background: $color0;
  min-height: 10px;
  border-radius: 8px;
}

.volume scale slider {
  background: $color6;
  border-radius: 50%;
}

/* ================= POWER ================= */

.power-btn {
  background: $color1;
  border-radius: 10px;
  padding: 14px;
  font-size: 20px;
  min-width: 60px;
  min-height: 60px;
}
