@import "/home/inlinkcraft/.cache/wal/colors.scss";

* {
  all: unset;
  font-family: "FiraCode Nerd Font";
  color: $foreground;
}

/* ================= OVERLAY ================= */

.overlay {
  background: transparent;
}

.columns {
  padding: 40px;
}

/* ================= STRUCTURE ================= */

.column {
  min-width: 260px;
}

/* ================= MODULE BASE ================= */

.module {
  background: $background;
  border: 2px solid $color0;
  border-radius: 14px;
  padding: 16px;
}

/* ================= MUSIC ================= */

.album {
  min-width: 140px;
  min-height: 140px;
  border-radius: 10px;
}

.music-title {
  font-size: 16px;
  font-weight: bold;
  color: $color6;
}

.music-artist {
  font-size: 13px;
  color: $color8;
}

.music progress trough {
  background: $color0;
}

.music progress bar {
  background: $color6;
}

/* ================= DATE ================= */

.clock {
  font-size: 36px;
  color: $color6;
}

.date {
  font-size: 14px;
  color: $color7;
}

/* ================= SPECS ================= */

.spec {
  font-size: 11px;
  color: $color7;
}

/* ================= VOLUME ================= */

.volume scale trough {
  background: $color0;
}

.volume scale slider {
  background: $color6;
}

/* ================= POWER ================= */

.power-btn {
  background: $color1;
  border-radius: 10px;
  padding: 14px;
  min-width: 64px;
  min-height: 64px;
  font-size: 20px;
}
