* {
  font-family: "FiraCode Nerd Font";
}

.cc-root {
  background: rgba(30, 30, 46, 0.92);
  padding: 20px;
  border-radius: 14px;
  min-width: 340px;
  border: 2px solid rgba(255, 255, 255, 0.10);
}

.cc-title {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.cc-sub {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.75);
}
